.body {
  margin: 0;
  padding: 0;
}

.mainpage {
  display: flex;
  flex-direction: row;
}

.mainpage__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  max-height: 94vh;
  width: 75px;
  border-right: 1px solid rgb(209, 209, 209);
  padding: 3vh 0vw;
}

.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.icon {
  padding: 12px;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.icon:hover {
  background-color: #f1f1f1;
}

.icon--logo {
  fill: red;
}

.mainpage__mainsection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 70px;
}

.mainsection__searchbar {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 8vh;
  width: calc(100% - 77px);
  padding: 1.5vh 1vw;
  background-color: white;
  box-sizing: border-box;
  z-index: 1;
}

.mainsection__content {
  margin-top: 8vh;
  width: 98.4%;
  columns: 7;
  padding: 0vh 1vw;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: masonry;
  column-gap: 1vw; */
}

.mainsection__content__image {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1vh;
  cursor: pointer;
}

.mainsection__content__image:hover {
  filter: brightness(70%);
}

.searchbar__searchsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  padding: 0px 15px;
  gap: 10px;
}

.searchbar__searchsection:hover {
  background-color: #e1e1e1;
}

.icon--search {
  width: 20px;
  fill: gray;
}

.searchbar__input {
  outline: none;
  width: 100%;
  height: 4.8vh;
  border: none;
  background-color: #f1f1f1;
  font-size: 18px;
}

.searchbar__input:hover {
  background-color: #e1e1e1;
}

.searchbar__searchsection:has(.searchbar__input:focus) {
  border: 3px solid #7fc1ff;
}

.searchbar__searchsection:has(.searchbar__input:focus) .icon--search {
  width: 0px;
}

.searchbar__accountsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.accountsection__image {
  padding: 12px;
  width: 30px;
  cursor: pointer;
}

.accountsection__image:hover {
  border-radius: 5px;
  background-color: #f1f1f1;
}

.icon--downarrow {
  width: 1vw;
  padding: 9px 5px;
  border-radius: 50%;
  min-width: 20px;
  fill: gray;
  cursor: pointer;
}

.icon--downarrow:hover {
  background-color: #f1f1f1;
}

@media (max-width: 1750px) {
  .mainsection__content {
    columns: 6;
  }
}

@media (max-width: 1512px) {
  .mainsection__content {
    columns: 5;
  }
}

@media (max-width: 1276px) {
  .mainsection__content {
    columns: 4;
  }
}

@media (max-width: 1024px) {
  .mainsection__content {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .mainsection__content {
    columns: 2;
  }
}

@media (max-width: 320px) {
  .mainsection__content {
    columns: 1;
  }
}
